/* 
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-wrapper{
    display: flex;
    justify-content: center;
  }
  .custom_product{
    display: flex;;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30%;
    background-color: rgb(245, 245, 241);
    height: 150px;
    width: 150px;
  } */



  .custom-swiper {
    width: 100%;
    height: 100%;
  }
  
  .custom-swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .custom-swiper-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .custom_product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30%;
    background-color: rgb(245, 245, 241);
    height: 150px;
    width: 150px;
  }
  