.breadcrumb {
    padding: 10px 0;
    background-color: #dee2e6;
    border-bottom: 1px solid #dee2e6;
    margin-top: 80px;
    display: flex;
    width: fit-content;
    border-radius: 10px ;
    /* gap:5px; */
    padding: 10px;
  }
  
  .breadcrumb ol {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  
  .breadcrumb-item {
    margin-right: 5px;
    list-style: none;
  }
  
  .breadcrumb-item + .breadcrumb-item::before {
    content: '>>';
    padding-right: 5px;
    color: #6c757d;
  }
  
  .breadcrumb-item a {
    text-decoration: none;
    color: #007bff;
  }
  
  .breadcrumb-item a:hover {
    text-decoration: underline;
  }
  
  .breadcrumb-item span {
    color: #6c757d;
  }
  