.customDiv {
  padding: 10px;
}

@media screen and (max-width: 425px) {
  .custom_products {
    flex-direction: column; /* Fix typo and adjust flex direction */
  }
  .custom_sort_menu{
    width: 140px;
  }
  .customDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

  }
  .separator{
    display: none;
  }
}
